# Files to Ignore

# Analysis Data
data/*
data/processed/*.vcf.gz
data/processed/*.vcf.gz.tbi
data/processed/*.gds

# Results
results/*.vcf.gz
results/*.vcf.gz.tbi
results/*.gds
results/*.table
results/*.vcf
results/*.txt

# Outputs
*.html
*.pdf
*.png

# macOS
.DS_Store

# Logs
*.log
