# Files to Ignore

# Analysis Data
data/raw/*
data/refs/*
data/resources/*
results/mutect2/*
data/processed/*.vcf.gz
data/processed/*.vcf.gz.tbi
data/processed/*.gds


# Outputs
*.html
*.pdf
*.png

# macOS
.DS_Store

# Logs
*.log
